<div class="stage-container">
    <div class="vitals-ring" id="vitals">
        <svg class="ring-svg" viewBox="0 0 100 100">
            <circle class="ring-track" cx="50" cy="50" r="45"/>
            <circle class="ring-water" cx="50" cy="50" r="45" id="ringWater"/>
            <circle class="ring-sun" cx="50" cy="50" r="42" id="ringSun"/>
            <circle class="ring-love" cx="50" cy="50" r="39" id="ringLove"/>
        </svg>
    </div>
    <div class="plant-wrapper breathing" id="plantHero">
        <div class="plant-graphics" id="plantGraphics">
            <svg class="svg-plant" id="mainPlantSVG" viewBox="0 0 200 250">
                <defs id="plantDefs"></defs>
                <ellipse cx="100" cy="232" rx="38" ry="5" class="shadow"/>
                <g id="plantGroup"></g>
                <g id="potGroup">
                    <path d="M72 197 L128 197 L118 232 L82 232 Z" class="pot-body"/>
                    <ellipse cx="100" cy="191" rx="24" ry="7" class="dirt"/>
                    <ellipse cx="100" cy="189" rx="18" ry="5" class="dirt-top"/>
                    <path d="M68 189 L132 189 L128 199 L72 199 Z" class="pot-body pot-rim"/>
                    <path id="potPatternPath" d="M72 199 L128 199 L118 232 L82 232 Z" fill="url(#patNone)" class="pot-pattern"/>
                </g>
                <rect id="plantClickArea" x="60" y="80" width="80" height="120" onclick="animateJiggle()" class="plant-hitbox"/>
            </svg>
        </div>
    </div>
</div>